# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. assign any number of type integer to the variable "num_1"

In [1]:
num_1 = 1

#### 2. assign any number of type float to the variable "num_2"

In [2]:
num_2 = 2.0

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [3]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [4]:
print(total)
type(total)

3.0

float

#### 5. assign variable "height" with your height

In [5]:
height = 1.7

#### 6. asign variable "mass" with your weight

In [6]:
mass = 74

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [7]:
bmi = mass / (height ** 2)

#### 8. print value from "bmi" variable

In [8]:
print(bmi)

25.605536332179934

# String

#### 1. Create variable "name" with your first name

In [9]:
name = 'Jordan'

#### 2. Create variable "surname" with your surname

In [10]:
surname = 'Silke'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [11]:
name_surname = f'{name} {surname}'

#### 4. print variable "name_surname"

In [12]:
print(name_surname)

Jordan Silke

#### 5. print first letter from variable "name_surname"

In [13]:
print(name_surname[0])

J

#### 6. print your name (without empty space) from variable "name_surname"

In [14]:
print(f'{name_surname[:6]}{name_surname[7:]}')

JordanSilke

In [15]:
print(f'{name_surname.split()[0]}{name_surname.split()[1]}')

JordanSilke

#### 7. print your surname 10x (use variable surname)

In [16]:
print(surname*10)

SilkeSilkeSilkeSilkeSilkeSilkeSilkeSilkeSilkeSilke

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [17]:
greeting = "Hello, my name is "
message = f'{greeting}{name_surname}'

#### 9. print "message" variable

In [18]:
print(message)

Hello, my name is Jordan Silke

## List

#### 1. create empty list with name "empty_list"

In [19]:
empty_list = []

#### 2. create list "heights" with five random values

In [20]:
import random

In [21]:
heights = [random.uniform(1, 2) for i in range(5)]

#### 3. print heights

In [22]:
print(heights)

[1.154072091148489, 1.9512803793145552, 1.4818487877231536, 1.4517515732311226, 1.6385210886038113]

#### 4. print type of variable "heights"

In [23]:
type(heights)

list

#### 5. print second value from "heights"

In [24]:
print(heights[1])

1.9512803793145552

#### 6. assign last three values from "heights" to another list "heights_2"

In [25]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [26]:
print(heights_2)

[1.4818487877231536, 1.4517515732311226, 1.6385210886038113]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [27]:
list_all = heights + heights_2

#### 9. print "list_all"

In [28]:
print(list_all)

[1.154072091148489, 1.9512803793145552, 1.4818487877231536, 1.4517515732311226, 1.6385210886038113, 1.4818487877231536, 1.4517515732311226, 1.6385210886038113]

#### 10. print the type of "list_all"

In [29]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [30]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [31]:
empty_tuple[0] = name

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

"'tuple' object does not support item assignment", list does.

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [32]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [33]:
heights_dict = {name: height}

#### 3. assign another name and height to "heights_dict"

In [34]:
heights_dict["John"] = 1.8

#### 4. print "heights_dict" dictionary

In [35]:
print(heights_dict)

{'Jordan': 1.7, 'John': 1.8}

#### 5. print your height from the "heights_dict" dictionary

In [36]:
print(heights_dict['Jordan'])

1.7

#### 6. print all values from "heights_dict" dictionary

In [37]:
print(heights_dict.values())

dict_values([1.7, 1.8])

#### 7. print all keys from "heights_dict" dictionary

In [38]:
print(heights_dict.keys())

dict_keys(['Jordan', 'John'])