# <u>**Variables Exercises**</u>

## **1) Compass**
---

In [1]:
# name is a variable. It contains a string
name = "Thomas"
print("Hello " + name + ", it's very nice to meet you!")

# taxRate, subtotal, tax and total are all variables that contain numbers
taxRate = 0.14
subtotal = 20
tax = subtotal * taxRate
total = subtotal + tax
print("Your total bill is: ")
print(total)

# travelDestinations is a variable containing a list
# city is a variable - its value is changing a few times
travelDestinations = ["Vancouver","Montreal","Calgary","Toronto"]
for city in travelDestinations:
    print(city + " looks like a cool place to go!!")

Hello Thomas, it's very nice to meet you!
Your total bill is:
22.8
Vancouver looks like a cool place to go!!
Montreal looks like a cool place to go!!
Calgary looks like a cool place to go!!
Toronto looks like a cool place to go!!

In [2]:
# name is a variable. It contains a string
name = input("Please type your name:\n")
print("Hello " + name + ", it's very nice to meet you!")

Hello Jordan, it's very nice to meet you!

## **2) <a href="https://realpython.com/python-variables/">Variables in Python</a>**
---

In [3]:
print(5.3)

5.3

In [8]:
 # Assign 300 to n and print the value.
 n = 300
 print(n)

300

In [9]:
# Variables are displyed like literals without the need for print().
n

300

In [10]:
# Variables can be dynamically reassigned and will return their most recently assigned value.
n = 1000
print(n)
n

1000

1000

In [11]:
# Variable assignments can be chained in python.
a = b = c = 300
print(a, b, c)

300 300 300

In [14]:
# Python variables are dynamically typed.
var = 23.4
print(type(var))

var = "Now I'm a string!"
print(type(var))

<class 'float'>
<class 'str'>

In [16]:
# Virtaully all data in python is an object (in this case 300 is an integer object with a value of 300).
print(300)
type(300)

300

int

In [17]:
# Python variable act as references/pointers to objects. The object can be referred to using the variable name but the data is contained within the object (not the reference).

n = 300
# n -> <IntegerObject>(300)

In [18]:
print(n)
type(n)

300

int

In [19]:
m = n
# The above does not create another <IntegerObject>(300), it merely assigns m as another pointer/reference to the same object created previously.
# n -> 300 <- m

In [20]:
m = 400
# Now a new <IntegerObject>(400) is created and m references/points to it.
# n -> 300
# m -> 400

In [21]:
n = 'foo'
# n -> 'foo'
# 300 is currently inaccessible/orphaned. Since its 'lifetime' is over, it will be deleted so that the memory can be reallocated elsewhere if needed.
# m -> 400

In [23]:
# Every object has a unique identifier that can be accessed with the id() function.
n = 300
m = n
print(id(n), id(m))

m = 400
id(m)

1889805897552 1889805897552

1889804622064

In [35]:
# The python interpreter creates objects for integers in the range [-5, 256] at startup for optimization.
m = 30
n = 30
print('m =', m, 'id:', id(m), '\nn =', n, 'id:', id(n), '\n')
# Even though the above variables are assigned at different times they still have the same id because of this.

# These have disparate ids despite being the same numbers for the aforementioned reason.
m = 257
n = 257
print('m =', m, 'id:', id(m), '\nn =', n, 'id:', id(n), '\n')

m = -6
n = -6
print('m =', m, 'id:', id(m), '\nn =', n, 'id:', id(n), '\n')

m = 30 id: 140726438962496
n = 30 id: 140726438962496

m = 257 id: 1889818506256
n = 257 id: 1889818505936

m = -6 id: 1889818505648
n = -6 id: 1889818506160

### As per PEP 8:
- snake_case should be used for functions and variable names.
- PascalCase should be used for class names.

Variable names are case sensitive and cannot be the same as reserved keywords (help("keywords")) or begin with a digit.